/* STYLES FROM INDEX.HTML */
/* Styling Links with anchor tag `a` */
/* Applying styles to anchors ONLY in nav tag */
/* nav a {
    text-decoration: none;
    color: black; 
    font-size: 115%;
}

nav {
    background-color: #8fa2e9;
    height: 30px; 
    line-height: 25px;
    width: 300px; 
    float: right; 
} */

body {
    color: #2D3B71; 
    margin: 0; 
}

header {
    background-color: #2D3B71;
    color: white; 
    height: 60px;
    line-height: 60px;
}

nav {
    width: 300px; 
    float: right; 
}

nav a {
    text-decoration: none;
    color: white; 
    font-size: 115%;
}

h1 {
    margin: 0; 
    float: left;
}

h2 {
    color: #64001F; 
}